<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta property="og:image" content="https://h.top4top.io/p_2017s30r80.jpg">
        <link rel="shortcut icon" href="https://h.top4top.io/p_2017s30r80.jpg" />  
        <title>LanzVian - About & Information</title>
</head>
    <style type="text/css" media="all">
    body {
        background-color: #ffffff;
    }
        h1 {
            background-color: #00C0FF;
            width: 450;
            height: 50;
            color: #FFF;
            color-scheme: #000;
            font-family: Arial;
        }
    </style>
    <body>
        <h1>About & Information</h1>
        <span id=""></span>
        
    </body>
</html>